body {
	background-color: whitesmoke;
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: bold;
	font-size: 40px;
	margin-left: 10px;
}

.axisLabel {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: bold;
	font-size: 20px;
	margin-left: 10px;
}

.axisSlider {
	color: red;
	width: 400px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.axisText {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	height: 18px;
	width: 40px;
	background-color: whitesmoke;
	border: none;
}

#moveButton {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	height: 35px;
	width: 70px;
	margin: 10px;
	background-color: #2474db;
	color: black;
}